{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI based Resume Reviewer</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    {% endcompress %}

</head>

<body class="bg-primary">
    <div class="flex justify-center text-secondary text-4xl mt-24 font-bold">AI based resume review</div>
    {% block content %}
    {% endblock content %}

</body>

</html>